body
{
	background-color: #1F2222;
}
button{
	width: 45px;
	border-style: none;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 2px;
}
div.c2 button{
	width: 100px;
}

.expression{
	float: right;
	font-family: 'Open Sans', sans-serif;
	color:#F8F8F8;

}

#messages{
	min-height: 50px;
}
div.display{
	border-width: 1px;
}

ul.display{
	float: right;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color:#F8F8F8;
}

.scien{
	background-color: #b3b3b3;
}

#btn_eq{
	background-color: #DC3B3B;
	position: absolute;
	height: 80px;
}

.c2{
	width:17%;
}

